body {
	background-color: #E8C4BB;
	font-family: "Work Sans", sans-serif;
}
table {
	background-color: #E8C4BB;
	border: 2px solid IndianRed;
}
canvas {
	border: 2px solid IndianRed;
}
td {
	padding: 10px;
	background-color: LightPink;
	border: 1px solid IndianRed;
	margin: 5px;
}
button {
	background-color: LightPink;
	font: 16px "Work Sans", sans-serif;
	padding: 20px;
	margin: 5px !important;
	border: 1px solid IndianRed;
	transition: background-color 0.1s;
	-webkit-transition: background-color 0.1s;
}
button:hover {
	background-color: IndianRed;
}
.center {
	text-align: center;
}
.Dbut {
	padding: 2px;
	border: 2px solid IndianRed;
}
.error {
	text-align: center;
	color: IndianRed;
}
#grid {
	display: grid;
	grid-template-columns: 20% [col-l] 20% [col-m] 20% [col-r] 20% [side-l] 20% [side-r];
	grid-template-rows: 150px [head] 200px [b-top] auto [b-bot] 225px [entry-2] auto [answer] 200px [foot];
	grid-template-areas: 
		"header header header header header"
		"phases phases mid sidebar sidebar"
		"canvas canvas canvas sidebar sidebar"
		"voltemp voltemp calc sidebar sidebar"
		"answer answer answer answer answer"
		"footer footer footer footer footer";
	justify-items: stretch;
	align-content: stretch;	
}
#head {
	grid-area: header;
	text-align: center;
}

#pitch-div {
	width: 100%;
}

#pitch-div input {
	width: 100%;
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 25px; /* Specified height */
	background: LightGray; /* Grey background */
	/*outline: none;  Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
}

#pitch-div input::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: IndianRed;
  cursor: pointer;
}

#pitch-div input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: IndianRed;
  cursor: pointer;
}

#datainput {
	display: block;
}
#phasesDiv {
	text-align: center;
	grid-area: phases;
}
#phases {
	margin: auto;
}
#tempsDiv {
	text-align: center;
	grid-area: sidebar;
}
#temps, #buttons, #calc table {
	margin: auto;
	margin-bottom: 10px;
}
#mid {
	grid-area: mid;
	justify-items: center;
}
#submit-a {
	width: 100%;
}
#deladd {
	width: 50%;
}
#deladd button {
	margin: 1px;
}
#Dscatter {
	grid-area: canvas;
	text-align: center;
	height: 90%;
	margin-left: 5%;
	width: 90%;

}
#scatter {
	visibility: hidden;
}
#voltempDiv {
	grid-area: voltemp;
	text-align: center;
}
#voltemp {
	margin: auto;
}
#calc {
	grid-area: calc;
	margin: auto;
	text-align: center;
}
#answer {
	visibility: hidden;
	grid-area: answer;
	margin: auto;
	margin-top: 30px;
	place-self: stretch;
	text-align: center;
}
#answer table {
	justify-self: stretch;
}
.no {
	padding: 0;
	border: none;
	grid-area: sidebar;
}
